.edit-item-image__btn-wrap {
  position: relative;
}

.file {
  position: absolute;
  left: 7px;
  top: 0px;
  height: 40px;
  display: block;
  width: 100px;
  cursor: pointer;
}

.file.hidden {
  opacity: 0;
  cursor: pointer;
}

.edit-item-image__image-wrap {
  overflow: hidden;
}

.edit-item-image__image-wrap img {
  height: inherit;
  max-height: inherit;
  max-width: inherit;
}

.button__red {
  border-top: 12px solid #c90606!important;
}

.reviews__up-button {
  z-index: 2;
}

.header__cart-count {
  display: block;
  border-radius: 50%;
  background-color: #c90606;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
}

.button--green {
  background-color: rgba(0, 126, 84, 0.699);
  color: #000;
  width: 100px;
}

.svg--red {
  stroke: #c90606;
}